.section-two-icons {
  display: none;
}

.goals-list {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 72px;
}

.about {
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-two {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.section-two-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* TABLET */

@media screen and (min-width: 768px) {
  .goals-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .goals-item {
    width: calc((100% - 24px) / 2);
  }

  .section-two {
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-start;
  }

  .section-two-text {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 8px;
  }
}

/* .about {
  padding: 120px 0;
}

.goals {
  visibility: hidden;
}

.goals-item {
  width: calc((100% - 72px) / 4);
}

.goals-list {
  display: flex;
  gap: 24px;
}

.section-two {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.section-two-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-two-text-icon {
  background-color: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 8px;
  height: 112px;
  width: 264px;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
} */
