.section-three-fon {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-three-maintext {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.members {
  padding: 32px 0;
  text-align: center;
}

.section-three {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.section-three-name {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.section-three-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

.section-three-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-three-social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 8px;
}
.section-three-social-list-item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* TABLET */

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .team-about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    justify-content: center;
  }
}

/*--DEKSTOP--*/

@media screen and (min-width: 1158px) {
  .team-about {
    flex-direction: row;
    gap: 24px;
  }
}

/* .section-three-fon {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

під сумнівом що це???
.team-list {
  background-color: #ffffff;
}

.team-about {
  display: flex;
  gap: 24px;
}
.section-three-maintext {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #f4f4fd;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.members {
  padding: 32px 0;
  text-align: center;
}

.section-three {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.section-three-name {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2e2f42;
}
.section-three-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}
.section-three-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-three-social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 8px;
}
.section-three-social-list-item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-three-social-link:hover,
.section-three-social-link:focus {
  background-color: #404bbf;
}
.section-three-social-icon {
  fill: #f4f4fd;
} */
